.l-apply {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.l-apply-header {
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 62px;
  color: #464646;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
}

.l-apply-header__emph {
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 52px;
  color: #ff0000;
  text-align: center;
  padding-bottom: 20px;
}

.l-apply-subheader {
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'MyriadProCondensed';
  font-weight: 400;
  font-size: 38px;
  color: #464646;
  text-align: center;
  padding-bottom: 15px;

  span {
    margin: 0 10px;
  }
}

.l-apply-registration {
  width: 410px;
  margin: 0 auto;

  p {
    font-family: 'MyriadProCondensed';
    font-weight: 700;
    font-size: 26px;
    color: #464646;
    margin-bottom: 20px;
  }
}

.l-apply-form-container {
  background-color: #dadada;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px;
}

@media screen and (max-width: 990px) {
  .l-apply-header {
    font-size: 46px;
  }

  .l-apply-header__emph {
    font-size: 42px;
  }

  .l-apply-subheader {
    font-size: 36px;
  }

  .l-apply-registration {
    width: 310px;
  }

  .c-form-button {
    a {
      font-size: 20px;
      padding: 15px 5px;
    }
  }
}