.l-footer {
  width: 100%;
  background-color: #e0e0e0;
  padding: 20px 0;
  text-align: center;

  p {
    text-transform: uppercase;
    font-family: 'MyriadProCondensed';
    font-size: 20px;
    font-weight: 700;
    color: #464646;
  }
}

.l-footer-logo {
  margin-bottom: 10px;
}