.l-header {
  width: 100%;
  background-color: #fff;
  line-height: 55px;
  vertical-align: middle;
  position: fixed;
  z-index: 15
}

.l-header-logo {
  float: left;
  line-height: 60px;
  
  a {
    display: block;
  }

  span {
    vertical-align: middle;
  }
}

.c-nav-burger {
  display: none;

    &.c-nav-burger__active {  
    background-color: #9fca00;

    span {
      @extend .icon-close-sm;
    }

  }
}

.l-header-navbar {
  margin-left: 200px;
  ul {
    display: inline-block;
  }
}

.l-header-navbar-item {
  display: inline-block;

  a {
    padding: 20px 25px;
  }

  &:hover {
    background-color: #e2e2e2;

    span {
      border-bottom: none;
    }
  }

  a {
    font-family: 'MyriadProCondensed';
    display: block;
    color: #7ea001;
    font-size: 20px;
    line-height: 1;

    span {
      border-bottom: 1px dotted #7ea001;
    }
  }
}

.l-header-contact {
  display: inline-block;
  float: right;
  padding-right: 10px;

  span {
    display: inline-block;
  }

  a {
    display: inline-block;
    font-family: 'MyriadProCondensed';
    font-size: 24px;
    color: #464646;
  }
}

@media screen and (max-width: 990px) {

  .l-header {
    position: fixed;
    z-index: 15;

    .wrapper {
      width: 100%;
      padding: 0;
    }
  }
  
  .l-header-logo {
    float: none;
    position: relative;
    margin-left: 10px;
  }

  .c-nav-burger {
    text-align: center;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
  }

  .l-header-navbar {
    margin: 0;
    text-align: center;
    display: none;
    
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;

    animation: animatedown 0.2s 1;

    ul {
      display: block;
      width: 100%;
    }
  }

  @keyframes animatedown {
    0%   {top: -800px; height: 100px;}
    100% {top: 60px;}
  }  

  @keyframes animatetup {
    0%   {bottom: 60px;}
    100% {bottom: -800px; height: 100px;}
  }

  .l-header-navbar__active {
    display: block;
  }

  .l-header-contact {
    float: none;
    display: block;
    background-color: #9fca00;

    a {
      font-size: 26px;
    }
  }

  .l-header-navbar-item {
    display: block;
    width: 100%;
    background-color: #97c000;

    a {
      color: #fff;
      border: none;
      font-size: 32px;

      span {
        border: none;
      }
    }

    &:hover {
      background-color: #ebebeb;

      a {
        color: #7ea001;
      }
    }
  }

}