/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-phone-name: 'icon-Phone';
$icon-phone-x: 183px;
$icon-phone-y: 242px;
$icon-phone-offset-x: -183px;
$icon-phone-offset-y: -242px;
$icon-phone-width: 19px;
$icon-phone-height: 20px;
$icon-phone-total-width: 356px;
$icon-phone-total-height: 298px;
$icon-phone-image: '../i/sprite.png';
$icon-phone: (183px, 242px, -183px, -242px, 19px, 20px, 356px, 298px, '../i/sprite.png', 'icon-Phone', );
$icon-sklad-logo-menu-name: 'icon-Sklad-logo-menu';
$icon-sklad-logo-menu-x: 133px;
$icon-sklad-logo-menu-y: 51px;
$icon-sklad-logo-menu-offset-x: -133px;
$icon-sklad-logo-menu-offset-y: -51px;
$icon-sklad-logo-menu-width: 150px;
$icon-sklad-logo-menu-height: 29px;
$icon-sklad-logo-menu-total-width: 356px;
$icon-sklad-logo-menu-total-height: 298px;
$icon-sklad-logo-menu-image: '../i/sprite.png';
$icon-sklad-logo-menu: (133px, 51px, -133px, -51px, 150px, 29px, 356px, 298px, '../i/sprite.png', 'icon-Sklad-logo-menu', );
$icon-sklad-logo-name: 'icon-Sklad-logo';
$icon-sklad-logo-x: 133px;
$icon-sklad-logo-y: 0px;
$icon-sklad-logo-offset-x: -133px;
$icon-sklad-logo-offset-y: 0px;
$icon-sklad-logo-width: 175px;
$icon-sklad-logo-height: 51px;
$icon-sklad-logo-total-width: 356px;
$icon-sklad-logo-total-height: 298px;
$icon-sklad-logo-image: '../i/sprite.png';
$icon-sklad-logo: (133px, 0px, -133px, 0px, 175px, 51px, 356px, 298px, '../i/sprite.png', 'icon-Sklad-logo', );
$icon-arrow-1-name: 'icon-arrow-1';
$icon-arrow-1-x: 166px;
$icon-arrow-1-y: 133px;
$icon-arrow-1-offset-x: -166px;
$icon-arrow-1-offset-y: -133px;
$icon-arrow-1-width: 38px;
$icon-arrow-1-height: 36px;
$icon-arrow-1-total-width: 356px;
$icon-arrow-1-total-height: 298px;
$icon-arrow-1-image: '../i/sprite.png';
$icon-arrow-1: (166px, 133px, -166px, -133px, 38px, 36px, 356px, 298px, '../i/sprite.png', 'icon-arrow-1', );
$icon-arrow-slide-left-active-name: 'icon-arrow-slide-left-active';
$icon-arrow-slide-left-active-x: 308px;
$icon-arrow-slide-left-active-y: 114px;
$icon-arrow-slide-left-active-offset-x: -308px;
$icon-arrow-slide-left-active-offset-y: -114px;
$icon-arrow-slide-left-active-width: 35px;
$icon-arrow-slide-left-active-height: 49px;
$icon-arrow-slide-left-active-total-width: 356px;
$icon-arrow-slide-left-active-total-height: 298px;
$icon-arrow-slide-left-active-image: '../i/sprite.png';
$icon-arrow-slide-left-active: (308px, 114px, -308px, -114px, 35px, 49px, 356px, 298px, '../i/sprite.png', 'icon-arrow-slide-left-active', );
$icon-arrow-slide-left-static-name: 'icon-arrow-slide-left-static';
$icon-arrow-slide-left-static-x: 308px;
$icon-arrow-slide-left-static-y: 163px;
$icon-arrow-slide-left-static-offset-x: -308px;
$icon-arrow-slide-left-static-offset-y: -163px;
$icon-arrow-slide-left-static-width: 35px;
$icon-arrow-slide-left-static-height: 49px;
$icon-arrow-slide-left-static-total-width: 356px;
$icon-arrow-slide-left-static-total-height: 298px;
$icon-arrow-slide-left-static-image: '../i/sprite.png';
$icon-arrow-slide-left-static: (308px, 163px, -308px, -163px, 35px, 49px, 356px, 298px, '../i/sprite.png', 'icon-arrow-slide-left-static', );
$icon-arrow-slide-right-active-name: 'icon-arrow-slide-right-active';
$icon-arrow-slide-right-active-x: 308px;
$icon-arrow-slide-right-active-y: 212px;
$icon-arrow-slide-right-active-offset-x: -308px;
$icon-arrow-slide-right-active-offset-y: -212px;
$icon-arrow-slide-right-active-width: 35px;
$icon-arrow-slide-right-active-height: 49px;
$icon-arrow-slide-right-active-total-width: 356px;
$icon-arrow-slide-right-active-total-height: 298px;
$icon-arrow-slide-right-active-image: '../i/sprite.png';
$icon-arrow-slide-right-active: (308px, 212px, -308px, -212px, 35px, 49px, 356px, 298px, '../i/sprite.png', 'icon-arrow-slide-right-active', );
$icon-arrow-slide-right-static-name: 'icon-arrow-slide-right-static';
$icon-arrow-slide-right-static-x: 131px;
$icon-arrow-slide-right-static-y: 133px;
$icon-arrow-slide-right-static-offset-x: -131px;
$icon-arrow-slide-right-static-offset-y: -133px;
$icon-arrow-slide-right-static-width: 35px;
$icon-arrow-slide-right-static-height: 49px;
$icon-arrow-slide-right-static-total-width: 356px;
$icon-arrow-slide-right-static-total-height: 298px;
$icon-arrow-slide-right-static-image: '../i/sprite.png';
$icon-arrow-slide-right-static: (131px, 133px, -131px, -133px, 35px, 49px, 356px, 298px, '../i/sprite.png', 'icon-arrow-slide-right-static', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 283px;
$icon-arrow-y: 51px;
$icon-arrow-offset-x: -283px;
$icon-arrow-offset-y: -51px;
$icon-arrow-width: 25px;
$icon-arrow-height: 25px;
$icon-arrow-total-width: 356px;
$icon-arrow-total-height: 298px;
$icon-arrow-image: '../i/sprite.png';
$icon-arrow: (283px, 51px, -283px, -51px, 25px, 25px, 356px, 298px, '../i/sprite.png', 'icon-arrow', );
$icon-banknote-name: 'icon-banknote';
$icon-banknote-x: 0px;
$icon-banknote-y: 242px;
$icon-banknote-offset-x: 0px;
$icon-banknote-offset-y: -242px;
$icon-banknote-width: 54px;
$icon-banknote-height: 56px;
$icon-banknote-total-width: 356px;
$icon-banknote-total-height: 298px;
$icon-banknote-image: '../i/sprite.png';
$icon-banknote: (0px, 242px, 0px, -242px, 54px, 56px, 356px, 298px, '../i/sprite.png', 'icon-banknote', );
$icon-burger-name: 'icon-burger';
$icon-burger-x: 267px;
$icon-burger-y: 133px;
$icon-burger-offset-x: -267px;
$icon-burger-offset-y: -133px;
$icon-burger-width: 30px;
$icon-burger-height: 24px;
$icon-burger-total-width: 356px;
$icon-burger-total-height: 298px;
$icon-burger-image: '../i/sprite.png';
$icon-burger: (267px, 133px, -267px, -133px, 30px, 24px, 356px, 298px, '../i/sprite.png', 'icon-burger', );
$icon-champion-name: 'icon-champion';
$icon-champion-x: 54px;
$icon-champion-y: 242px;
$icon-champion-offset-x: -54px;
$icon-champion-offset-y: -242px;
$icon-champion-width: 52px;
$icon-champion-height: 56px;
$icon-champion-total-width: 356px;
$icon-champion-total-height: 298px;
$icon-champion-image: '../i/sprite.png';
$icon-champion: (54px, 242px, -54px, -242px, 52px, 56px, 356px, 298px, '../i/sprite.png', 'icon-champion', );
$icon-check-1-name: 'icon-check-1';
$icon-check-1-x: 236px;
$icon-check-1-y: 133px;
$icon-check-1-offset-x: -236px;
$icon-check-1-offset-y: -133px;
$icon-check-1-width: 31px;
$icon-check-1-height: 24px;
$icon-check-1-total-width: 356px;
$icon-check-1-total-height: 298px;
$icon-check-1-image: '../i/sprite.png';
$icon-check-1: (236px, 133px, -236px, -133px, 31px, 24px, 356px, 298px, '../i/sprite.png', 'icon-check-1', );
$icon-check-2-name: 'icon-check-2';
$icon-check-2-x: 255px;
$icon-check-2-y: 80px;
$icon-check-2-offset-x: -255px;
$icon-check-2-offset-y: -80px;
$icon-check-2-width: 46px;
$icon-check-2-height: 35px;
$icon-check-2-total-width: 356px;
$icon-check-2-total-height: 298px;
$icon-check-2-image: '../i/sprite.png';
$icon-check-2: (255px, 80px, -255px, -80px, 46px, 35px, 356px, 298px, '../i/sprite.png', 'icon-check-2', );
$icon-check-name: 'icon-check';
$icon-check-x: 308px;
$icon-check-y: 261px;
$icon-check-offset-x: -308px;
$icon-check-offset-y: -261px;
$icon-check-width: 46px;
$icon-check-height: 36px;
$icon-check-total-width: 356px;
$icon-check-total-height: 298px;
$icon-check-image: '../i/sprite.png';
$icon-check: (308px, 261px, -308px, -261px, 46px, 36px, 356px, 298px, '../i/sprite.png', 'icon-check', );
$icon-close-sm-name: 'icon-close-sm';
$icon-close-sm-x: 204px;
$icon-close-sm-y: 133px;
$icon-close-sm-offset-x: -204px;
$icon-close-sm-offset-y: -133px;
$icon-close-sm-width: 32px;
$icon-close-sm-height: 32px;
$icon-close-sm-total-width: 356px;
$icon-close-sm-total-height: 298px;
$icon-close-sm-image: '../i/sprite.png';
$icon-close-sm: (204px, 133px, -204px, -133px, 32px, 32px, 356px, 298px, '../i/sprite.png', 'icon-close-sm', );
$icon-close-name: 'icon-close';
$icon-close-x: 250px;
$icon-close-y: 187px;
$icon-close-offset-x: -250px;
$icon-close-offset-y: -187px;
$icon-close-width: 55px;
$icon-close-height: 55px;
$icon-close-total-width: 356px;
$icon-close-total-height: 298px;
$icon-close-image: '../i/sprite.png';
$icon-close: (250px, 187px, -250px, -187px, 55px, 55px, 356px, 298px, '../i/sprite.png', 'icon-close', );
$icon-computer-1-name: 'icon-computer-1';
$icon-computer-1-x: 0px;
$icon-computer-1-y: 133px;
$icon-computer-1-offset-x: 0px;
$icon-computer-1-offset-y: -133px;
$icon-computer-1-width: 76px;
$icon-computer-1-height: 54px;
$icon-computer-1-total-width: 356px;
$icon-computer-1-total-height: 298px;
$icon-computer-1-image: '../i/sprite.png';
$icon-computer-1: (0px, 133px, 0px, -133px, 76px, 54px, 356px, 298px, '../i/sprite.png', 'icon-computer-1', );
$icon-computer-name: 'icon-computer';
$icon-computer-x: 193px;
$icon-computer-y: 80px;
$icon-computer-offset-x: -193px;
$icon-computer-offset-y: -80px;
$icon-computer-width: 62px;
$icon-computer-height: 45px;
$icon-computer-total-width: 356px;
$icon-computer-total-height: 298px;
$icon-computer-image: '../i/sprite.png';
$icon-computer: (193px, 80px, -193px, -80px, 62px, 45px, 356px, 298px, '../i/sprite.png', 'icon-computer', );
$icon-dialog-name: 'icon-dialog';
$icon-dialog-x: 76px;
$icon-dialog-y: 133px;
$icon-dialog-offset-x: -76px;
$icon-dialog-offset-y: -133px;
$icon-dialog-width: 55px;
$icon-dialog-height: 54px;
$icon-dialog-total-width: 356px;
$icon-dialog-total-height: 298px;
$icon-dialog-image: '../i/sprite.png';
$icon-dialog: (76px, 133px, -76px, -133px, 55px, 54px, 356px, 298px, '../i/sprite.png', 'icon-dialog', );
$icon-earth-name: 'icon-earth';
$icon-earth-x: 308px;
$icon-earth-y: 0px;
$icon-earth-offset-x: -308px;
$icon-earth-offset-y: 0px;
$icon-earth-width: 48px;
$icon-earth-height: 58px;
$icon-earth-total-width: 356px;
$icon-earth-total-height: 298px;
$icon-earth-image: '../i/sprite.png';
$icon-earth: (308px, 0px, -308px, 0px, 48px, 58px, 356px, 298px, '../i/sprite.png', 'icon-earth', );
$icon-error-name: 'icon-error';
$icon-error-x: 158px;
$icon-error-y: 242px;
$icon-error-offset-x: -158px;
$icon-error-offset-y: -242px;
$icon-error-width: 25px;
$icon-error-height: 25px;
$icon-error-total-width: 356px;
$icon-error-total-height: 298px;
$icon-error-image: '../i/sprite.png';
$icon-error: (158px, 242px, -158px, -242px, 25px, 25px, 356px, 298px, '../i/sprite.png', 'icon-error', );
$icon-flag-name: 'icon-flag';
$icon-flag-x: 308px;
$icon-flag-y: 58px;
$icon-flag-offset-x: -308px;
$icon-flag-offset-y: -58px;
$icon-flag-width: 48px;
$icon-flag-height: 56px;
$icon-flag-total-width: 356px;
$icon-flag-total-height: 298px;
$icon-flag-image: '../i/sprite.png';
$icon-flag: (308px, 58px, -308px, -58px, 48px, 56px, 356px, 298px, '../i/sprite.png', 'icon-flag', );
$icon-mouthpiece-name: 'icon-mouthpiece';
$icon-mouthpiece-x: 134px;
$icon-mouthpiece-y: 187px;
$icon-mouthpiece-offset-x: -134px;
$icon-mouthpiece-offset-y: -187px;
$icon-mouthpiece-width: 61px;
$icon-mouthpiece-height: 55px;
$icon-mouthpiece-total-width: 356px;
$icon-mouthpiece-total-height: 298px;
$icon-mouthpiece-image: '../i/sprite.png';
$icon-mouthpiece: (134px, 187px, -134px, -187px, 61px, 55px, 356px, 298px, '../i/sprite.png', 'icon-mouthpiece', );
$icon-partner-name: 'icon-partner';
$icon-partner-x: 0px;
$icon-partner-y: 0px;
$icon-partner-offset-x: 0px;
$icon-partner-offset-y: 0px;
$icon-partner-width: 133px;
$icon-partner-height: 133px;
$icon-partner-total-width: 356px;
$icon-partner-total-height: 298px;
$icon-partner-image: '../i/sprite.png';
$icon-partner: (0px, 0px, 0px, 0px, 133px, 133px, 356px, 298px, '../i/sprite.png', 'icon-partner', );
$icon-site-name: 'icon-site';
$icon-site-x: 67px;
$icon-site-y: 187px;
$icon-site-offset-x: -67px;
$icon-site-offset-y: -187px;
$icon-site-width: 67px;
$icon-site-height: 55px;
$icon-site-total-width: 356px;
$icon-site-total-height: 298px;
$icon-site-image: '../i/sprite.png';
$icon-site: (67px, 187px, -67px, -187px, 67px, 55px, 356px, 298px, '../i/sprite.png', 'icon-site', );
$icon-statics-name: 'icon-statics';
$icon-statics-x: 195px;
$icon-statics-y: 187px;
$icon-statics-offset-x: -195px;
$icon-statics-offset-y: -187px;
$icon-statics-width: 55px;
$icon-statics-height: 55px;
$icon-statics-total-width: 356px;
$icon-statics-total-height: 298px;
$icon-statics-image: '../i/sprite.png';
$icon-statics: (195px, 187px, -195px, -187px, 55px, 55px, 356px, 298px, '../i/sprite.png', 'icon-statics', );
$icon-study-name: 'icon-study';
$icon-study-x: 133px;
$icon-study-y: 80px;
$icon-study-offset-x: -133px;
$icon-study-offset-y: -80px;
$icon-study-width: 60px;
$icon-study-height: 53px;
$icon-study-total-width: 356px;
$icon-study-total-height: 298px;
$icon-study-image: '../i/sprite.png';
$icon-study: (133px, 80px, -133px, -80px, 60px, 53px, 356px, 298px, '../i/sprite.png', 'icon-study', );
$icon-take-name: 'icon-take';
$icon-take-x: 106px;
$icon-take-y: 242px;
$icon-take-offset-x: -106px;
$icon-take-offset-y: -242px;
$icon-take-width: 52px;
$icon-take-height: 55px;
$icon-take-total-width: 356px;
$icon-take-total-height: 298px;
$icon-take-image: '../i/sprite.png';
$icon-take: (106px, 242px, -106px, -242px, 52px, 55px, 356px, 298px, '../i/sprite.png', 'icon-take', );
$icon-web-name: 'icon-web';
$icon-web-x: 0px;
$icon-web-y: 187px;
$icon-web-offset-x: 0px;
$icon-web-offset-y: -187px;
$icon-web-width: 67px;
$icon-web-height: 55px;
$icon-web-total-width: 356px;
$icon-web-total-height: 298px;
$icon-web-image: '../i/sprite.png';
$icon-web: (0px, 187px, 0px, -187px, 67px, 55px, 356px, 298px, '../i/sprite.png', 'icon-web', );
$spritesheet-width: 356px;
$spritesheet-height: 298px;
$spritesheet-image: '../i/sprite.png';
$spritesheet-sprites: ($icon-phone, $icon-sklad-logo-menu, $icon-sklad-logo, $icon-arrow-1, $icon-arrow-slide-left-active, $icon-arrow-slide-left-static, $icon-arrow-slide-right-active, $icon-arrow-slide-right-static, $icon-arrow, $icon-banknote, $icon-burger, $icon-champion, $icon-check-1, $icon-check-2, $icon-check, $icon-close-sm, $icon-close, $icon-computer-1, $icon-computer, $icon-dialog, $icon-earth, $icon-error, $icon-flag, $icon-mouthpiece, $icon-partner, $icon-site, $icon-statics, $icon-study, $icon-take, $icon-web, );
$spritesheet: (356px, 298px, '../i/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
