/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-phone-name: 'icon-Phone';
$icon-phone-x: 242px;
$icon-phone-y: 167px;
$icon-phone-offset-x: -242px;
$icon-phone-offset-y: -167px;
$icon-phone-width: 19px;
$icon-phone-height: 20px;
$icon-phone-total-width: 296px;
$icon-phone-total-height: 292px;
$icon-phone-image: '../i/sprite.png';
$icon-phone: (242px, 167px, -242px, -167px, 19px, 20px, 296px, 292px, '../i/sprite.png', 'icon-Phone', );
$icon-sklad-logo-menu-name: 'icon-Sklad-logo-menu';
$icon-sklad-logo-menu-x: 0px;
$icon-sklad-logo-menu-y: 51px;
$icon-sklad-logo-menu-offset-x: 0px;
$icon-sklad-logo-menu-offset-y: -51px;
$icon-sklad-logo-menu-width: 150px;
$icon-sklad-logo-menu-height: 29px;
$icon-sklad-logo-menu-total-width: 296px;
$icon-sklad-logo-menu-total-height: 292px;
$icon-sklad-logo-menu-image: '../i/sprite.png';
$icon-sklad-logo-menu: (0px, 51px, 0px, -51px, 150px, 29px, 296px, 292px, '../i/sprite.png', 'icon-Sklad-logo-menu', );
$icon-sklad-logo-name: 'icon-Sklad-logo';
$icon-sklad-logo-x: 0px;
$icon-sklad-logo-y: 0px;
$icon-sklad-logo-offset-x: 0px;
$icon-sklad-logo-offset-y: 0px;
$icon-sklad-logo-width: 175px;
$icon-sklad-logo-height: 51px;
$icon-sklad-logo-total-width: 296px;
$icon-sklad-logo-total-height: 292px;
$icon-sklad-logo-image: '../i/sprite.png';
$icon-sklad-logo: (0px, 0px, 0px, 0px, 175px, 51px, 296px, 292px, '../i/sprite.png', 'icon-Sklad-logo', );
$icon-arrow-1-name: 'icon-arrow-1';
$icon-arrow-1-x: 201px;
$icon-arrow-1-y: 234px;
$icon-arrow-1-offset-x: -201px;
$icon-arrow-1-offset-y: -234px;
$icon-arrow-1-width: 38px;
$icon-arrow-1-height: 36px;
$icon-arrow-1-total-width: 296px;
$icon-arrow-1-total-height: 292px;
$icon-arrow-1-image: '../i/sprite.png';
$icon-arrow-1: (201px, 234px, -201px, -234px, 38px, 36px, 296px, 292px, '../i/sprite.png', 'icon-arrow-1', );
$icon-arrow-slide-left-active-name: 'icon-arrow-slide-left-active';
$icon-arrow-slide-left-active-x: 136px;
$icon-arrow-slide-left-active-y: 80px;
$icon-arrow-slide-left-active-offset-x: -136px;
$icon-arrow-slide-left-active-offset-y: -80px;
$icon-arrow-slide-left-active-width: 35px;
$icon-arrow-slide-left-active-height: 49px;
$icon-arrow-slide-left-active-total-width: 296px;
$icon-arrow-slide-left-active-total-height: 292px;
$icon-arrow-slide-left-active-image: '../i/sprite.png';
$icon-arrow-slide-left-active: (136px, 80px, -136px, -80px, 35px, 49px, 296px, 292px, '../i/sprite.png', 'icon-arrow-slide-left-active', );
$icon-arrow-slide-left-static-name: 'icon-arrow-slide-left-static';
$icon-arrow-slide-left-static-x: 96px;
$icon-arrow-slide-left-static-y: 234px;
$icon-arrow-slide-left-static-offset-x: -96px;
$icon-arrow-slide-left-static-offset-y: -234px;
$icon-arrow-slide-left-static-width: 35px;
$icon-arrow-slide-left-static-height: 49px;
$icon-arrow-slide-left-static-total-width: 296px;
$icon-arrow-slide-left-static-total-height: 292px;
$icon-arrow-slide-left-static-image: '../i/sprite.png';
$icon-arrow-slide-left-static: (96px, 234px, -96px, -234px, 35px, 49px, 296px, 292px, '../i/sprite.png', 'icon-arrow-slide-left-static', );
$icon-arrow-slide-right-active-name: 'icon-arrow-slide-right-active';
$icon-arrow-slide-right-active-x: 131px;
$icon-arrow-slide-right-active-y: 234px;
$icon-arrow-slide-right-active-offset-x: -131px;
$icon-arrow-slide-right-active-offset-y: -234px;
$icon-arrow-slide-right-active-width: 35px;
$icon-arrow-slide-right-active-height: 49px;
$icon-arrow-slide-right-active-total-width: 296px;
$icon-arrow-slide-right-active-total-height: 292px;
$icon-arrow-slide-right-active-image: '../i/sprite.png';
$icon-arrow-slide-right-active: (131px, 234px, -131px, -234px, 35px, 49px, 296px, 292px, '../i/sprite.png', 'icon-arrow-slide-right-active', );
$icon-arrow-slide-right-static-name: 'icon-arrow-slide-right-static';
$icon-arrow-slide-right-static-x: 166px;
$icon-arrow-slide-right-static-y: 234px;
$icon-arrow-slide-right-static-offset-x: -166px;
$icon-arrow-slide-right-static-offset-y: -234px;
$icon-arrow-slide-right-static-width: 35px;
$icon-arrow-slide-right-static-height: 49px;
$icon-arrow-slide-right-static-total-width: 296px;
$icon-arrow-slide-right-static-total-height: 292px;
$icon-arrow-slide-right-static-image: '../i/sprite.png';
$icon-arrow-slide-right-static: (166px, 234px, -166px, -234px, 35px, 49px, 296px, 292px, '../i/sprite.png', 'icon-arrow-slide-right-static', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 150px;
$icon-arrow-y: 51px;
$icon-arrow-offset-x: -150px;
$icon-arrow-offset-y: -51px;
$icon-arrow-width: 25px;
$icon-arrow-height: 25px;
$icon-arrow-total-width: 296px;
$icon-arrow-total-height: 292px;
$icon-arrow-image: '../i/sprite.png';
$icon-arrow: (150px, 51px, -150px, -51px, 25px, 25px, 296px, 292px, '../i/sprite.png', 'icon-arrow', );
$icon-banknote-name: 'icon-banknote';
$icon-banknote-x: 242px;
$icon-banknote-y: 0px;
$icon-banknote-offset-x: -242px;
$icon-banknote-offset-y: 0px;
$icon-banknote-width: 54px;
$icon-banknote-height: 56px;
$icon-banknote-total-width: 296px;
$icon-banknote-total-height: 292px;
$icon-banknote-image: '../i/sprite.png';
$icon-banknote: (242px, 0px, -242px, 0px, 54px, 56px, 296px, 292px, '../i/sprite.png', 'icon-banknote', );
$icon-champion-name: 'icon-champion';
$icon-champion-x: 242px;
$icon-champion-y: 56px;
$icon-champion-offset-x: -242px;
$icon-champion-offset-y: -56px;
$icon-champion-width: 52px;
$icon-champion-height: 56px;
$icon-champion-total-width: 296px;
$icon-champion-total-height: 292px;
$icon-champion-image: '../i/sprite.png';
$icon-champion: (242px, 56px, -242px, -56px, 52px, 56px, 296px, 292px, '../i/sprite.png', 'icon-champion', );
$icon-check-1-name: 'icon-check-1';
$icon-check-1-x: 175px;
$icon-check-1-y: 110px;
$icon-check-1-offset-x: -175px;
$icon-check-1-offset-y: -110px;
$icon-check-1-width: 31px;
$icon-check-1-height: 24px;
$icon-check-1-total-width: 296px;
$icon-check-1-total-height: 292px;
$icon-check-1-image: '../i/sprite.png';
$icon-check-1: (175px, 110px, -175px, -110px, 31px, 24px, 296px, 292px, '../i/sprite.png', 'icon-check-1', );
$icon-check-name: 'icon-check';
$icon-check-x: 62px;
$icon-check-y: 189px;
$icon-check-offset-x: -62px;
$icon-check-offset-y: -189px;
$icon-check-width: 46px;
$icon-check-height: 35px;
$icon-check-total-width: 296px;
$icon-check-total-height: 292px;
$icon-check-image: '../i/sprite.png';
$icon-check: (62px, 189px, -62px, -189px, 46px, 35px, 296px, 292px, '../i/sprite.png', 'icon-check', );
$icon-close-name: 'icon-close';
$icon-close-x: 116px;
$icon-close-y: 134px;
$icon-close-offset-x: -116px;
$icon-close-offset-y: -134px;
$icon-close-width: 55px;
$icon-close-height: 55px;
$icon-close-total-width: 296px;
$icon-close-total-height: 292px;
$icon-close-image: '../i/sprite.png';
$icon-close: (116px, 134px, -116px, -134px, 55px, 55px, 296px, 292px, '../i/sprite.png', 'icon-close', );
$icon-computer-1-name: 'icon-computer-1';
$icon-computer-1-x: 0px;
$icon-computer-1-y: 80px;
$icon-computer-1-offset-x: 0px;
$icon-computer-1-offset-y: -80px;
$icon-computer-1-width: 76px;
$icon-computer-1-height: 54px;
$icon-computer-1-total-width: 296px;
$icon-computer-1-total-height: 292px;
$icon-computer-1-image: '../i/sprite.png';
$icon-computer-1: (0px, 80px, 0px, -80px, 76px, 54px, 296px, 292px, '../i/sprite.png', 'icon-computer-1', );
$icon-computer-name: 'icon-computer';
$icon-computer-x: 0px;
$icon-computer-y: 189px;
$icon-computer-offset-x: 0px;
$icon-computer-offset-y: -189px;
$icon-computer-width: 62px;
$icon-computer-height: 45px;
$icon-computer-total-width: 296px;
$icon-computer-total-height: 292px;
$icon-computer-image: '../i/sprite.png';
$icon-computer: (0px, 189px, 0px, -189px, 62px, 45px, 296px, 292px, '../i/sprite.png', 'icon-computer', );
$icon-dialog-name: 'icon-dialog';
$icon-dialog-x: 171px;
$icon-dialog-y: 134px;
$icon-dialog-offset-x: -171px;
$icon-dialog-offset-y: -134px;
$icon-dialog-width: 55px;
$icon-dialog-height: 54px;
$icon-dialog-total-width: 296px;
$icon-dialog-total-height: 292px;
$icon-dialog-image: '../i/sprite.png';
$icon-dialog: (171px, 134px, -171px, -134px, 55px, 54px, 296px, 292px, '../i/sprite.png', 'icon-dialog', );
$icon-earth-name: 'icon-earth';
$icon-earth-x: 0px;
$icon-earth-y: 234px;
$icon-earth-offset-x: 0px;
$icon-earth-offset-y: -234px;
$icon-earth-width: 48px;
$icon-earth-height: 58px;
$icon-earth-total-width: 296px;
$icon-earth-total-height: 292px;
$icon-earth-image: '../i/sprite.png';
$icon-earth: (0px, 234px, 0px, -234px, 48px, 58px, 296px, 292px, '../i/sprite.png', 'icon-earth', );
$icon-error-name: 'icon-error';
$icon-error-x: 108px;
$icon-error-y: 189px;
$icon-error-offset-x: -108px;
$icon-error-offset-y: -189px;
$icon-error-width: 25px;
$icon-error-height: 25px;
$icon-error-total-width: 296px;
$icon-error-total-height: 292px;
$icon-error-image: '../i/sprite.png';
$icon-error: (108px, 189px, -108px, -189px, 25px, 25px, 296px, 292px, '../i/sprite.png', 'icon-error', );
$icon-flag-name: 'icon-flag';
$icon-flag-x: 48px;
$icon-flag-y: 234px;
$icon-flag-offset-x: -48px;
$icon-flag-offset-y: -234px;
$icon-flag-width: 48px;
$icon-flag-height: 56px;
$icon-flag-total-width: 296px;
$icon-flag-total-height: 292px;
$icon-flag-image: '../i/sprite.png';
$icon-flag: (48px, 234px, -48px, -234px, 48px, 56px, 296px, 292px, '../i/sprite.png', 'icon-flag', );
$icon-mouthpiece-name: 'icon-mouthpiece';
$icon-mouthpiece-x: 0px;
$icon-mouthpiece-y: 134px;
$icon-mouthpiece-offset-x: 0px;
$icon-mouthpiece-offset-y: -134px;
$icon-mouthpiece-width: 61px;
$icon-mouthpiece-height: 55px;
$icon-mouthpiece-total-width: 296px;
$icon-mouthpiece-total-height: 292px;
$icon-mouthpiece-image: '../i/sprite.png';
$icon-mouthpiece: (0px, 134px, 0px, -134px, 61px, 55px, 296px, 292px, '../i/sprite.png', 'icon-mouthpiece', );
$icon-site-name: 'icon-site';
$icon-site-x: 175px;
$icon-site-y: 55px;
$icon-site-offset-x: -175px;
$icon-site-offset-y: -55px;
$icon-site-width: 67px;
$icon-site-height: 55px;
$icon-site-total-width: 296px;
$icon-site-total-height: 292px;
$icon-site-image: '../i/sprite.png';
$icon-site: (175px, 55px, -175px, -55px, 67px, 55px, 296px, 292px, '../i/sprite.png', 'icon-site', );
$icon-statics-name: 'icon-statics';
$icon-statics-x: 61px;
$icon-statics-y: 134px;
$icon-statics-offset-x: -61px;
$icon-statics-offset-y: -134px;
$icon-statics-width: 55px;
$icon-statics-height: 55px;
$icon-statics-total-width: 296px;
$icon-statics-total-height: 292px;
$icon-statics-image: '../i/sprite.png';
$icon-statics: (61px, 134px, -61px, -134px, 55px, 55px, 296px, 292px, '../i/sprite.png', 'icon-statics', );
$icon-study-name: 'icon-study';
$icon-study-x: 76px;
$icon-study-y: 80px;
$icon-study-offset-x: -76px;
$icon-study-offset-y: -80px;
$icon-study-width: 60px;
$icon-study-height: 53px;
$icon-study-total-width: 296px;
$icon-study-total-height: 292px;
$icon-study-image: '../i/sprite.png';
$icon-study: (76px, 80px, -76px, -80px, 60px, 53px, 296px, 292px, '../i/sprite.png', 'icon-study', );
$icon-take-name: 'icon-take';
$icon-take-x: 242px;
$icon-take-y: 112px;
$icon-take-offset-x: -242px;
$icon-take-offset-y: -112px;
$icon-take-width: 52px;
$icon-take-height: 55px;
$icon-take-total-width: 296px;
$icon-take-total-height: 292px;
$icon-take-image: '../i/sprite.png';
$icon-take: (242px, 112px, -242px, -112px, 52px, 55px, 296px, 292px, '../i/sprite.png', 'icon-take', );
$icon-web-name: 'icon-web';
$icon-web-x: 175px;
$icon-web-y: 0px;
$icon-web-offset-x: -175px;
$icon-web-offset-y: 0px;
$icon-web-width: 67px;
$icon-web-height: 55px;
$icon-web-total-width: 296px;
$icon-web-total-height: 292px;
$icon-web-image: '../i/sprite.png';
$icon-web: (175px, 0px, -175px, 0px, 67px, 55px, 296px, 292px, '../i/sprite.png', 'icon-web', );
$spritesheet-width: 296px;
$spritesheet-height: 292px;
$spritesheet-image: '../i/sprite.png';
$spritesheet-sprites: ($icon-phone, $icon-sklad-logo-menu, $icon-sklad-logo, $icon-arrow-1, $icon-arrow-slide-left-active, $icon-arrow-slide-left-static, $icon-arrow-slide-right-active, $icon-arrow-slide-right-static, $icon-arrow, $icon-banknote, $icon-champion, $icon-check-1, $icon-check, $icon-close, $icon-computer-1, $icon-computer, $icon-dialog, $icon-earth, $icon-error, $icon-flag, $icon-mouthpiece, $icon-site, $icon-statics, $icon-study, $icon-take, $icon-web, );
$spritesheet: (296px, 292px, '../i/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
