@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Semibold.otf") format("opentype");
  font-weight: 500; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-SemiboldIt.otf") format("opentype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Bold.otf") format("opentype");
  font-weight: 700; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'MyriadProCondensed';
  src: url("../fonts/MyriadPro-Cond.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: 'MyriadProCondensed';
  src: url("../fonts/MyriadPro-CondIt.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'MyriadProCondensed';
  src: url("../fonts/MyriadPro-BoldCond.otf") format("opentype");
  font-weight: 700; }

@font-face {
  font-family: 'MyriadProCondensed';
  src: url("../fonts/MyriadPro-BoldCondIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.icon-Phone {
  background-image: url(../i/sprite.png);
  background-position: -235px -133px;
  width: 19px;
  height: 20px; }

.icon-Sklad-logo-menu {
  background-image: url(../i/sprite.png);
  background-position: -133px -51px;
  width: 150px;
  height: 29px; }

.icon-Sklad-logo {
  background-image: url(../i/sprite.png);
  background-position: -133px 0px;
  width: 175px;
  height: 51px; }

.icon-arrow-1 {
  background-image: url(../i/sprite.png);
  background-position: -166px -133px;
  width: 38px;
  height: 36px; }

.icon-arrow-slide-left-active, .c-slider-control-arrow-left:hover .icon-arrow-slide-left-static {
  background-image: url(../i/sprite.png);
  background-position: -308px -163px;
  width: 35px;
  height: 49px; }

.icon-arrow-slide-left-static {
  background-image: url(../i/sprite.png);
  background-position: -308px -212px;
  width: 35px;
  height: 49px; }

.icon-arrow-slide-right-active, .c-slider-control-arrow-right:hover .icon-arrow-slide-right-static {
  background-image: url(../i/sprite.png);
  background-position: -131px -133px;
  width: 35px;
  height: 49px; }

.icon-arrow-slide-right-static {
  background-image: url(../i/sprite.png);
  background-position: -308px -114px;
  width: 35px;
  height: 49px; }

.icon-arrow {
  background-image: url(../i/sprite.png);
  background-position: -283px -51px;
  width: 25px;
  height: 25px; }

.icon-banknote {
  background-image: url(../i/sprite.png);
  background-position: 0px -242px;
  width: 54px;
  height: 56px; }

.icon-champion {
  background-image: url(../i/sprite.png);
  background-position: -54px -242px;
  width: 52px;
  height: 56px; }

.icon-check-1, .c-form-line.c-form-line-success:before {
  background-image: url(../i/sprite.png);
  background-position: -204px -133px;
  width: 31px;
  height: 24px; }

.icon-check-2 {
  background-image: url(../i/sprite.png);
  background-position: -255px -80px;
  width: 46px;
  height: 35px; }

.icon-check {
  background-image: url(../i/sprite.png);
  background-position: -308px -261px;
  width: 46px;
  height: 36px; }

.icon-close {
  background-image: url(../i/sprite.png);
  background-position: -250px -187px;
  width: 55px;
  height: 55px; }

.icon-computer-1 {
  background-image: url(../i/sprite.png);
  background-position: 0px -133px;
  width: 76px;
  height: 54px; }

.icon-computer {
  background-image: url(../i/sprite.png);
  background-position: -193px -80px;
  width: 62px;
  height: 45px; }

.icon-dialog {
  background-image: url(../i/sprite.png);
  background-position: -76px -133px;
  width: 55px;
  height: 54px; }

.icon-earth {
  background-image: url(../i/sprite.png);
  background-position: -308px 0px;
  width: 48px;
  height: 58px; }

.icon-error, .c-form-line.c-form-line-error:before {
  background-image: url(../i/sprite.png);
  background-position: -158px -242px;
  width: 25px;
  height: 25px; }

.icon-flag {
  background-image: url(../i/sprite.png);
  background-position: -308px -58px;
  width: 48px;
  height: 56px; }

.icon-mouthpiece {
  background-image: url(../i/sprite.png);
  background-position: -134px -187px;
  width: 61px;
  height: 55px; }

.icon-partner {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 133px;
  height: 133px; }

.icon-site {
  background-image: url(../i/sprite.png);
  background-position: -67px -187px;
  width: 67px;
  height: 55px; }

.icon-statics {
  background-image: url(../i/sprite.png);
  background-position: -195px -187px;
  width: 55px;
  height: 55px; }

.icon-study {
  background-image: url(../i/sprite.png);
  background-position: -133px -80px;
  width: 60px;
  height: 53px; }

.icon-take {
  background-image: url(../i/sprite.png);
  background-position: -106px -242px;
  width: 52px;
  height: 55px; }

.icon-web {
  background-image: url(../i/sprite.png);
  background-position: 0px -187px;
  width: 67px;
  height: 55px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  outline: none; }

body, html {
  height: 100%; }

body {
  font: normal 16px/1.4 MyriadPro, Arial, sans-serif;
  position: relative; }

.wrapper {
  max-width: 1000px;
  margin: auto; }

.icon {
  display: inline-block; }

a {
  text-decoration: none; }

.clearfix:before, .l-reasons-list-item:before, .l-benefits-list li:before, .c-slider-slide-item-merits li:before,
.clearfix:after,
.l-reasons-list-item:after,
.l-benefits-list li:after,
.c-slider-slide-item-merits li:after {
  content: "";
  display: table; }

.clearfix:after, .l-reasons-list-item:after, .l-benefits-list li:after, .c-slider-slide-item-merits li:after {
  clear: both; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.hidden {
  display: none !important; }

.soft-hidden {
  display: none; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.c-btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  background-color: #f00;
  font-family: 'MyriadProCondensed';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  line-height: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 6px -6px #a70101;
  -moz-box-shadow: 0 5px 6px -6px #a70101;
  box-shadow: 0 5px 6px -6px #a70101;
  border-bottom: 2px solid #a70101; }

.c-section-footer {
  width: 100%;
  padding: 10px 35px;
  background-color: #718d02;
  text-align: center;
  font-family: 'Arial';
  font-size: 16px;
  color: #fff; }

.c-section-divider {
  width: 100%;
  border: 5px solid  #dbdbdb; }

.l-modalRegister {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(166, 201, 38, 0.9); }

#modalRegisterSuccess {
  display: none; }

.c-modal-box {
  margin: 15% auto;
  width: 445px; }

.c-close-modal {
  margin: 0 auto 20px;
  text-align: center; }
  .c-close-modal span:hover {
    cursor: pointer; }

.c-form-container__modal {
  width: 445px;
  background-color: #dadada;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 0px -8px 55px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -8px 55px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -8px 55px 6px rgba(0, 0, 0, 0.5); }

.c-form-success-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #97c000;
  line-height: 60px;
  text-align: center;
  margin: 0 auto 20px; }
  .c-form-success-pic span {
    vertical-align: middle; }

.c-form-success-text {
  padding-bottom: 20px; }
  .c-form-success-text p {
    text-transform: uppercase;
    text-align: center;
    font-family: 'MyriadProCondensed';
    font-weight: 700;
    font-size: 22px;
    color: #464646; }

.c-form-success-text__secondary {
  padding-bottom: 20px; }
  .c-form-success-text__secondary p {
    text-align: center;
    font-family: 'MyriadProCondensed';
    font-weight: 400;
    font-size: 24px;
    color: #464646; }

.c-form-container {
  background-color: #dadada;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px; }

.c-form input {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  border: none; }

.c-form input::-webkit-input-placeholder {
  vertical-align: middle;
  font-family: 'MyriadPro';
  font-size: 17px;
  color: #7f7f7f; }

.c-form-line {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 6px -6px #777;
  -moz-box-shadow: 0 5px 6px -6px #777;
  box-shadow: 0 5px 6px -6px #777;
  position: relative; }
  .c-form-line:before {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    content: '';
    width: 20px;
    height: 20px; }
  .c-form-line.c-form-line-error input::-webkit-input-placeholder {
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'MyriadPro';
    font-size: 17px;
    color: #ff0000; }

.c-form-text {
  padding-bottom: 20px; }
  .c-form-text p {
    text-align: center;
    font-family: 'MyriadProCondensed';
    font-weight: 700;
    font-size: 24px;
    color: #464646; }

.c-form-button {
  display: block;
  width: 100%; }
  .c-form-button a {
    font-size: 24px;
    padding: 25px; }

.l-header {
  width: 100%;
  background-color: #fff;
  line-height: 55px;
  vertical-align: middle; }

.l-header-logo {
  float: left;
  line-height: 60px; }
  .l-header-logo a {
    display: block; }
  .l-header-logo span {
    vertical-align: middle; }

.l-header-navbar {
  float: left;
  padding-left: 45px; }

.l-header-navbar-item {
  display: inline-block;
  padding: 20px 25px; }
  .l-header-navbar-item:hover {
    background-color: #e2e2e2; }
    .l-header-navbar-item:hover a {
      border-bottom: none; }
  .l-header-navbar-item a {
    font-family: 'MyriadProCondensed';
    display: block;
    color: #7ea001;
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted #7ea001; }

.l-header-contact {
  float: right; }
  .l-header-contact span {
    display: inline-block; }
  .l-header-contact a {
    display: inline-block;
    font-family: 'MyriadProCondensed';
    font-size: 24px;
    color: #464646; }

.l-hero {
  width: 100%;
  background-image: url("../i/bg-1.jpg");
  background-size: cover; }

.l-hero-content {
  padding: 45px 0 30px 0; }

.c-hero-text__emph {
  color: #e9a716;
  font-weight: 700; }

.c-hero-header__small {
  padding: 0 120px 20px 120px;
  font-family: 'Arial';
  font-size: 17px;
  color: #fff;
  text-align: center; }

.c-hero-header {
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  line-height: 1.3; }

.c-hero-text {
  padding: 15px 50px;
  text-align: center;
  font-family: 'Arial';
  font-size: 18px;
  color: #fff; }

.l-hero-boxes {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; }

.l-hero-diagram {
  width: 50%;
  float: left; }

.c-hero-diagram-block {
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px; }
  .c-hero-diagram-block a {
    border-bottom: 1px dotted #e9a716;
    text-transform: uppercase;
    text-align: center;
    font-family: 'MyriadProCondensed';
    font-weight: 700;
    font-size: 36px;
    color: #e9a716; }
  .c-hero-diagram-block a:hover {
    border-bottom: 1px dotted transparent; }

.c-hero-diagram-divider {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  color: #fff; }

.c-hero-diagram-divider__text {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #e9a716;
  font-size: 22px; }

.l-hero-form-container {
  float: right;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px; }

.l-hero-form p {
  font-family: 'Arial';
  font-size: 17px;
  color: #fff;
  padding-bottom: 15px; }

.l-hero-form input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: none; }

.l-hero-form input::-webkit-input-placeholder {
  font-family: 'MyriadPro';
  font-size: 17px;
  color: #7f7f7f; }

.l-hero-form-button {
  display: block;
  width: 100%; }
  .l-hero-form-button a {
    font-size: 26px; }

@media screen and (max-width: 720px) {
  .l-hero {
    display: none; } }

.l-reasons {
  width: 100%;
  padding-bottom: 50px; }

.l-reasons-header {
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 62px;
  color: #464646;
  text-transform: uppercase;
  text-align: center; }
  .l-reasons-header::first-letter {
    font-size: 72px; }

.l-reasons-list {
  padding: 0 10px; }

.l-reasons-list-item {
  display: block;
  padding: 25px 0; }
  .l-reasons-list-item a {
    text-decoration: underline;
    color: #89ad00; }
  .l-reasons-list-item p {
    margin-left: 80px;
    padding-top: 10px;
    font-family: 'Arial';
    font-size: 17px;
    color: #7f7f7f; }
    .l-reasons-list-item p strong {
      color: #464646; }

.c-reasons-list-pic {
  float: left;
  height: 65px;
  position: relative; }

.c-reasons-text__emph {
  font-size: 20px;
  color: #92b900;
  line-height: 1; }

.l-reasons-button {
  margin: 0 auto;
  text-align: center;
  width: 350px; }

.l-benefits {
  width: 100%;
  background-image: url("../i/bg-3.jpg");
  background-size: cover; }

.l-benefits-content {
  padding: 20px 0; }

.l-benefits-header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  padding: 0 45px 30px 45px; }

.l-benefits-text {
  text-align: center;
  font-family: 'Arial';
  font-size: 17px;
  color: #fff;
  padding: 0 45px 50px 45px; }

.l-benefits-list {
  padding: 0 15px; }
  .l-benefits-list li {
    padding-bottom: 35px; }

.c-benefits-list-marker {
  float: left;
  margin-top: 5px; }

.c-benefits-list-text {
  margin-left: 60px;
  display: block;
  font-family: 'Arial';
  font-size: 17px;
  color: #fff; }

.l-preview {
  width: 100%;
  padding: 45px 0; }

.l-preview-header {
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 62px;
  color: #464646;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 45px; }

.l-preview-thumbnails {
  padding: 0 10px; }

.l-preview-thumbnails-row {
  width: 100%; }
  .l-preview-thumbnails-row:first-child {
    margin-bottom: 50px; }

.c-preview-thumbnail {
  width: 30%;
  float: left;
  margin-right: 5%;
  padding: 30px 20px 0;
  border-radius: 5px; }
  .c-preview-thumbnail:last-child {
    margin-right: 0; }
  .c-preview-thumbnail a {
    text-decoration: underline;
    text-align: center;
    font-family: 'Arial';
    font-size: 17px;
    color: #92b900; }
  .c-preview-thumbnail a:hover {
    text-decoration: none; }

.c-preview-thumbnail__highlighted {
  background-color: #f1f1f1; }

.c-preview-thumbnail-pic {
  text-align: center;
  padding-bottom: 20px; }

.c-preview-thumbnail-text {
  text-align: center;
  font-family: 'Arial';
  font-size: 17px;
  color: #7f7f7f;
  padding: 10px 0; }

.l-portfolio {
  width: 100%;
  background-image: url("../i/bg-4.jpg");
  background-size: cover;
  padding: 30px 0; }

.l-portfolio-header {
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 62px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 100px; }

.l-portfolio-slider {
  position: relative; }

.c-slider-control-left {
  position: absolute;
  top: 50%;
  left: -80px; }

.c-slider-control-arrow-left {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center; }
  .c-slider-control-arrow-left span {
    vertical-align: middle;
    margin-left: -5px; }
  .c-slider-control-arrow-left:hover {
    cursor: pointer;
    background-color: #97c000; }

.c-slider-control-right {
  position: absolute;
  top: 50%;
  right: -80px; }

.c-slider-control-arrow-right {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center; }
  .c-slider-control-arrow-right span {
    vertical-align: middle;
    margin-right: -5px; }
  .c-slider-control-arrow-right:hover {
    cursor: pointer;
    background-color: #97c000; }

.c-slider-slide {
  width: 100%;
  padding: 0 10px; }

.c-slider-slide-item {
  width: 30%;
  float: left;
  margin-right: 5%; }
  .c-slider-slide-item:last-child {
    margin-right: 0; }

.c-slider-slide-item-img-block {
  display: block;
  padding-bottom: 25px; }

.c-slider-slide-item-pic-frame {
  width: 200px;
  height: 200px;
  border: 3px dashed #cbcbcb;
  position: relative;
  background-color: transparent;
  margin: auto; }

.c-slider-slide-item-pic {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15px;
  right: 10px; }

.c-slider-slide-item-title {
  text-align: center;
  font-family: 'MyriadProCondensed';
  font-weight: 400;
  font-size: 24px;
  color: #fff; }

.c-slider-slide-item-name {
  text-align: center;
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  padding-bottom: 30px; }

.c-slider-slide-item-merits li {
  padding-bottom: 15px; }

.c-slider-slide-item-merits span {
  float: left; }

.c-slider-slide-item-merits p {
  font-family: 'Arial';
  font-size: 16px;
  color: #fff;
  margin-left: 30px; }

.l-apply {
  width: 100%;
  padding: 50px 0;
  text-align: center; }

.l-apply-header {
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 62px;
  color: #464646;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px; }

.l-apply-header__emph {
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 52px;
  color: #ff0000;
  text-align: center;
  padding-bottom: 20px; }

.l-apply-subheader {
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'MyriadProCondensed';
  font-weight: 400;
  font-size: 38px;
  color: #464646;
  text-align: center;
  padding-bottom: 15px; }
  .l-apply-subheader span {
    margin: 0 10px; }

.l-apply-registration {
  width: 410px;
  margin: 0 auto; }
  .l-apply-registration p {
    font-family: 'MyriadProCondensed';
    font-weight: 700;
    font-size: 26px;
    color: #464646;
    margin-bottom: 20px; }

.l-apply-form-container {
  background-color: #dadada;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px; }

.l-bonus {
  width: 100%;
  background-image: url("../i/bg-4.jpg");
  background-size: cover;
  padding: 30px 0;
  text-align: center; }

.l-bonus-header {
  text-transform: uppercase;
  font-family: 'MyriadProCondensed';
  font-weight: 700;
  font-size: 76px;
  color: #fff;
  padding-bottom: 60px; }

.l-bonus-emblem {
  padding-bottom: 20px; }

.l-bonus-text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px; }

.l-bonus-text__emph {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 24px;
  color: #e9a716; }

.l-bonus-more {
  padding: 10px 0; }
  .l-bonus-more a {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'MyriadProCondensed';
    font-weight: 700;
    font-size: 26px;
    color: #97c000; }

.l-footer {
  width: 100%;
  background-color: #e0e0e0;
  padding: 20px 0;
  text-align: center; }
  .l-footer p {
    text-transform: uppercase;
    font-family: 'MyriadProCondensed';
    font-size: 20px;
    font-weight: 700;
    color: #464646; }

.l-footer-logo {
  margin-bottom: 10px; }
