// @font-face {
//   font-family: 'MyriadPro';
//   src:  url('../fonts/MyriadPro-Regular.otf') format("opentype");
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'MyriadPro';
//   src:  url('../fonts/MyriadPro-It.otf') format("opentype");
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'MyriadPro';
//   src:  url('../fonts/MyriadPro-Semibold.otf') format("opentype");
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'MyriadPro';
//   src:  url('../fonts/MyriadPro-SemiboldIt.otf') format("opentype");
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'MyriadPro';
//   src:  url('../fonts/MyriadPro-Bold.otf') format("opentype");
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'MyriadPro';
//   src:  url('../fonts/MyriadPro-BoldIt.otf') format("opentype");
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'MyriadProCondensed';
//   src:  url('../fonts/MyriadPro-Cond.otf') format("opentype");
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'MyriadProCondensed';
//   src:  url('../fonts/MyriadPro-CondIt.otf') format("opentype");
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'MyriadProCondensed';
//   src:  url('../fonts/MyriadPro-BoldCond.otf') format("opentype");
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'MyriadProCondensed';
//   src:  url('../fonts/MyriadPro-BoldCondIt.otf') format("opentype");
//   font-weight: 700;
//   font-style: italic;
// }


//*****************************************************

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src: url('../fonts/MyriadPro-BoldCond.eot');
  src: local('☺'), url('../fonts/MyriadPro-BoldCond.woff') format('woff'), url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCond.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src: url('../fonts/MyriadPro-BoldCondIt.eot');
  src: local('☺'), url('../fonts/MyriadPro-BoldCondIt.woff') format('woff'), url('../fonts/MyriadPro-BoldCondIt.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCondIt.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-BoldIt.eot');
  src: local('☺'), url('../fonts/MyriadPro-BoldIt.woff') format('woff'), url('../fonts/MyriadPro-BoldIt.ttf') format('truetype'), url('../fonts/MyriadPro-BoldIt.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src: url('../fonts/MyriadPro-Cond.eot');
  src: local('☺'), url('../fonts/MyriadPro-Cond.woff') format('woff'), url('../fonts/MyriadPro-Cond.ttf') format('truetype'), url('../fonts/MyriadPro-Cond.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src: url('../fonts/MyriadPro-CondIt.eot');
  src: local('☺'), url('../fonts/MyriadPro-CondIt.woff') format('woff'), url('../fonts/MyriadPro-CondIt.ttf') format('truetype'), url('../fonts/MyriadPro-CondIt.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-It.eot');
  src: local('☺'), url('../fonts/MyriadPro-It.woff') format('woff'), url('../fonts/MyriadPro-It.ttf') format('truetype'), url('../fonts/MyriadPro-It.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Semibold.eot');
  src: local('☺'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-SemiboldIt.eot');
  src: local('☺'), url('../fonts/MyriadPro-SemiboldIt.woff') format('woff'), url('../fonts/MyriadPro-SemiboldIt.ttf') format('truetype'), url('../fonts/MyriadPro-SemiboldIt.svg') format('svg');
  font-weight: 500;
  font-style: italic;
}