@font-face {
  font-family: 'MyriadPro';
  src:  url('../fonts/MyriadPro-Regular.otf') format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'MyriadPro';
  src:  url('../fonts/MyriadPro-It.otf') format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src:  url('../fonts/MyriadPro-Semibold.otf') format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'MyriadPro';
  src:  url('../fonts/MyriadPro-SemiboldIt.otf') format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src:  url('../fonts/MyriadPro-Bold.otf') format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'MyriadPro';
  src:  url('../fonts/MyriadPro-BoldIt.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src:  url('../fonts/MyriadPro-Cond.otf') format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src:  url('../fonts/MyriadPro-CondIt.otf') format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src:  url('../fonts/MyriadPro-BoldCond.otf') format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src:  url('../fonts/MyriadPro-BoldCondIt.otf') format("opentype");
  font-weight: 700;
  font-style: italic;
}